<%- include('../partials/header') %>
<div class="text container">
  <h1 class="header">YelpCamp</h1>
  <div class="items">
    <% campgrounds.forEach((camp)=>{ %>
    <div class="item">
      <div class="image small">
        <img src="<%= camp.image %>" alt="" />
      </div>
      <div class="content">
        <div class="header"><%- camp.name %></div>
        <div class="description"><%- camp.description.substring(0,100) %></div>
        <a class="button read" href="/campgrounds/<%= camp._id %>"
          >Read more ...</a
        >
      </div>
    </div>
    <% }) %>
  </div>
</div>
<%- include('../partials/footer') %>
