<%- include('../partials/header') %>
<div class="ui text container">
  <h1 class="ui header">YelpCamp</h1>
  <div class="ui items">
    <% campgrounds.forEach((camp)=>{ %>

    <div class="item">
      <div class="ui image small">
        <img src="<%= camp.image %>" alt="" />
      </div>
      <div class="content">
        <div class="ui header"><%- camp.name %></div>
        <div class="description"><%- camp.description.substring(0,100) %></div>
        <a class="ui button green" href="/campgrounds/<%= camp._id %>"
          >Read more ...</a
        >
      </div>
    </div>
    <% }) %>
  </div>
</div>
<%- include('../partials/footer') %>
