<%- include('../partials/header') %>
<div class="ui container">
  <div class="ui grid">
    <div class="twelve wide column" id="main_show_column">
      <img src="<%= camp.image %>" width="700em" alt="campground picture" />

      <h2 id="show_header" class="">
        <a href=""><%= camp.name %></a>
        <div>
          Submited by <%= camp.author.username %><span id="price_tag"
            >$<%= camp.price %> a night</span
          >
        </div>
      </h2>

      <div class="description"><%= camp.description %></div>
      <div class="ui segment">
        <h1>
          Comments
          <a
            class="ui purple button right floated"
            href="/campgrounds/<%= camp._id %>/comments/new"
          >
            Leave a comment
          </a>
        </h1>
        <hr />

        <% camp.comments.forEach((comment)=>{ %>
        <div class="ui segment">
          <p class="ui header">
            By <%= comment.author.username %>
            <span id="comment_time_ago">... ten days ago</span>
          </p>
          <p class=""><%= comment.text %></p>
          <% if(currentUser && currentUser._id.equals(comment.author.id)){ %>

          <a
            class="ui button small orange"
            href="/campgrounds/<%= camp._id %>/comments/<%= comment._id %>/edit"
            >Edit</a
          >
          <form
            class="btn_show"
            action="/campgrounds/<%= camp._id %>/comments/<%=comment._id %>?_method=DELETE"
            method="POST"
          >
            <button class="ui red button">Delete</button>
          </form>
          <% } %>
        </div>
        <% }) %>
      </div>
      <% if(currentUser && currentUser._id.equals(camp.author.id)){ %>
      <div id="comment_buttons">
        <a
          class="ui green button btn_show"
          href="/campgrounds/<%= camp._id %>/edit"
        >
          Edit
        </a>
        <form
          class="btn_show"
          action="/campgrounds/<%= camp._id %>?_method=DELETE"
          method="POST"
        >
          <button class="ui red button">Delete</button>
        </form>
      </div>
      <% } %>
    </div>
  </div>
</div>
<%- include('../partials/footer') %>
